/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-group {
    width: 100%;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    background-color: #5C469C;
}

.cols-xs-12 a {
    margin-bottom: 40px;
}

.cols-xs-12 p {
    font-size: 30px !important; 
    font-family: 'Bebas Neue', sans-serif;
}

#who {
    clear: both;
    float: left;
    padding: 1px 0 22px 0;
    margin: 1px 0 22px 0;
}

.logo h1 {
    float: right;
    font-size: 38px;
    color: #5C469C !important;
}

body {
    background: #5C469C;
    color: #fff;
}

h2 {
    font-size: 36px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #D4ADFC;
    line-height: 44px;
    text-align: center;
}

h5,
p {
    margin-bottom: 22px;
}

.hero p {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}

.card-section {
    margin: 0 auto;
    width: 500px;
    margin-bottom: 50px;
}

.card-img-top {
    height: 100%;
    width: 100%;
}


.card {
    background-color: #5C469C;
    border: none;
}

.container div {
    margin-bottom: 40px;
    float: left;
    width: 33.3%;
    background-color: black;
}

div img {
    display: block;
    max-width: 80%;
    margin: 0
}

span {
    border: 2px solid red;
}

.container-fluid {
    padding: 0 !important;
}

.logo {
    float: left;
    padding: 30px 0 22px 0;
}

.primary-nav a:hover {
    color: #5C469C;
  }


.hero-container {
    text-align: center;
}

.hero-container p {
    margin-top: 20px;
}

.btn {
    margin-bottom: 20px;
}

.hero {
    padding: 22px 80px 36px 80px;
    text-align: center;
}

nav {
    clear: both;
    text-align: center;
}

.col-md-9 {
    text-align: left;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.primary-nav {
    font-size: 19px;
    font-weight: 400;
    text-align: right;
    background: #395870;
    padding: 20px;
    background: linear-gradient(#D4ADFC, #5C469C)
}

#logo {
    color: #D4ADFC;
    font-family: 'Orbitron', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.btn {
    margin-top: 20px;
    border-radius: 5px;
    display: inline-block;
}

.btn-secondary {
    border: 1px solid #D4ADFC;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-secondary:hover {
    background: #D4ADFC;
}

footer {
    clear: both;
}

footer nav {
    float: left;
}

footer small {
    float: right;
}

.cols-xs-12 h2 {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 30px;
    font-size: 50px;
}

.col-xs-12:hover {
    color: black;
}

.card-img-top {
    max-width: 100%;
    height: auto;
    display: block;
}

.discord {
    height: 50px;
    width: 50px;
}

@media (max-width: 767px) {
    .card-img-top {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .card-img-top {
        max-width: 100%;
        height: auto;
    }
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex: 1 0 200px;
    margin: 10px;
}

.video {
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.center-video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video {
    max-width: 100%;
    height: 10;
}

.card {
   
}